@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["文件名", 
						"文件后缀", 
						"文件路径", 
						"所属对象ID", 
						"文件所属类别", 
						"创建时间"];
		var _colmodel = [{name:"file_name", index:"file_name", width:100},
						{name:"file_postfix", index:"file_postfix", width:100},
						{name:"file_path", index:"file_path", width:100},
						{name:"object_id", index:"object_id", width:100},
						{name:"object_type", index:"object_type", width:100},
						{name:"create_tm", index:"create_tm", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
			@		{name:"文件名", index:"file_name", type:"text"},
			@		{name:"文件后缀", index:"file_postfix", type:"text"},
			@		{name:"文件路径", index:"file_path", type:"text"},
			@		{name:"所属对象id", index:"object_id", type:"text"},
			@		{name:"文件所属类别", index:"object_type", type:"text"},
			@		{name:"创建时间", index:"create_tm", type:"text"}				
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	